<html>

<head>
<title></title>
</head>

<body>
<h2></h2>
</p>
<hr>
Websocket status: <span id="ws-status"> Waiting... </span>
</br>
Raw JSON: <span id="ws-json">Waiting... </span>
</br>
Temperature: <span id="ws-temperature">Waiting... </span>
</br>
Humidity: <span id="ws-humidity">Waiting... </span>
</br>
Soil Moisture: <span id="ws-soil-moisture">Waiting... </span>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ static_url("ws-client.js") }}"></script>

</body>
</html>
